<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CAA Health Center</title>
    <link rel="stylesheet" href="CAAWebsite.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        <nav class="navigation">
            <input type="checkbox" id="menuToggle" />

            <label for="menuToggle" class="burgerMenu">
                    <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="C:/ARMANDO/templates/developers.html">Developers</a></li>
                <li><a href="https://healthcarephilippines.com/directory/caa-a-health-center/" target="_blank">Learn
                        More</a></li>
            </ul>
        </nav>
    </header>
    <div class="slider-container">
        <div class="slider">
            <img src="slider-1.jpg" alt="Slider Image 1" />
            <img src="slider-2.jpg" alt="Slider Image 2" />
            <img src="slider-3.jpg" alt="Slider Image 3" />
            <img src="slider-4.jpg" alt="Slider Image 4" />
            <img src="slider-5.jpg" alt="Slider Image 5" />
        </div>
    </div>
    <div className="latest-news">
        <div class="news-container">
            <div class="news-content">
                <h2>Latest News</h2>
                <div class="news-item">
                    <div class="news-details">
                        <img src="news1.jpg" />
                        <h3 class="news-title"><a
                                href="https://www.who.int/news/item/15-05-2023-transport-systems-need-to-be-made-safe--healthy-and-sustainable"
                                target="_blank">Transport systems need to be made safe, healthy and sustainable</a></h3>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-details">
                        <img src="news2.jpg" />
                        <h3 class="news-title"><a
                                href="https://www.who.int/news/item/16-05-2023-who-calls-for-safe-and-ethical-ai-for-health"
                                target="_blank">WHO calls for safe and ethical AI for health</a></h3>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-details">
                        <img src="news3.jpg" />
                        <h3 class="news-title"><a
                                href="https://www.who.int/news/item/15-05-2023-new-who-report-highlights-progress-but-also-remaining-gaps-in-ensuring-a-robust-pipeline-of-antibiotic-treatments-to-combat-antimicrobial-resistance-(amr)"
                                target="_blank">New WHO report highlights progress, but also remaining gaps, in ensuring
                                a robust pipeline of antibiotic treatments to combat antimicrobial resistance (AMR)</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="know-container">
                <div>
                    <h2>Did You Know?</h2>
                    <p class="did-you-know">Laughter can provide health benefits? Laughter has been found to boost the
                        immune system, reduce
                        stress, and increase pain tolerance. It can also stimulate the release of endorphins, which are
                        natural painkillers. So, the next time you're feeling down, watching a comedy or sharing a good
                        laugh with friends might just be what the doctor ordered!</p>
                </div>
                <div>
                    <p class="did-you-know">Your brain is more active at night than during the day? While you might feel
                        tired at night, your
                        brain is actually more active during this time. It is believed that this increased activity
                        during sleep is essential for processes such as memory consolidation and the removal of toxins
                        from the brain. So, getting a good night's sleep is not only important for rest but also for
                        keeping your brain healthy.</p>
                </div>
                <div>
                    <p class="did-you-know">The human body produces about one to two liters of saliva each day? Saliva
                        plays a crucial role
                        in digestion by breaking down food and making it easier to swallow. It also contains enzymes
                        that help to kill bacteria and prevent tooth decay. So, the next time you're enjoying a meal,
                        remember to thank your saliva for its important role in the digestive process!</p>
                </div>
                <h2>Latest Updates for City of Las Piñas City</h2>
                <a href="https://www.facebook.com/cityoflaspinasofficial/" target="_blank">
                    <div class="las-pinas-image">
                        <img src="ourhome.jpg" />
                </a>
            </div>
        </div>
    </div>
    </div>
    <script src="index.js"></script>
</body>

</html>